*{
    padding: 0; /*reset de borda interna, para podermos mudar manualmente e fazer com que tenha o mesmo tamanho em diferentes navegadores*/
    margin: 0; /*reset de borda externa, para podermos mudar manualmente e fazer com que tenha o mesmo tamanho em diferentes navegadores*/
    box-sizing: border-box; /*usado para quando colocarmos uma borda interna ela n acressentar, mas sim tirar da externa*/
/* background-color: turquoise;
height: 100px;
width: 200px; */

}
body{
    width: 100vw;
    height: 100vh;
    background-image:url(fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #00000080;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    

}
div1 {

    vertical-align: middle;

}

h1{
    font-size: clamp(25px, 5vw, 75px);
    color: #FFF;
    font-family: Montserrat, sans-serif;
    
}

.des {

    font-size: clamp(25px, 4vw, 45px);
    color: white;
    font-style: italic;
    font-family: Montserrat, sans-serif;

}

#insta {

    height: 40px;
    width: 100px;
    background-color: #d300af;
    color: #000;
    border-style: none;
    border-radius: 5px 5px 5px 5px; /*pode ser usado 1 valor que serve pros 4, 2 e valores que server pras pontas opostas e 4 pra cada ponta*/
    cursor: pointer;
    margin-top: 20px;
    font-size: 20px;
}
#git {

    height: 40px;
    width: 100px;
    background-color: #132168;
    color: #000;
    border-style: none;
    border-radius: 5px 5px 5px 5px; /*pode ser usado 1 valor que serve pros 4, 2 e valores que server pras pontas opostas e 4 pra cada ponta*/
    cursor: pointer;
    margin-top: 20px;
    font-size: 20px;
}

#lin {

    height: 40px;
    width: 100px;
    background-color: #00a2ff;
    color: #000;
    border-style: none;
    border-radius: 5px 5px 5px 5px; /*pode ser usado 1 valor que serve pros 4, 2 e valores que server pras pontas opostas e 4 pra cada ponta*/
    cursor: pointer;
    margin-top: 20px;
    font-size: 20px;
}
